<!DOCTYPE html>
<html lang="fr">
<%- include("header") -%>
<body>
    <div class="header">
        <!-- As a heading -->
        <nav class="navbar navbar-light header">
            <div class="container-fluid">
                <h1 class=" mb-0 h1">Gestionaire d'article</h1>
            </div>
        </nav>
    </div>
    <div class="monTableau contener">
        <%- include("table") -%>
    </div>
    <div class="monArticle contener">
        <%- include("article") -%>
    </div>

</body>
</html>