<%- include("header") -%>

<body>
    <div
        class="header">
        <!-- As a heading -->
        <nav class="header">
            <div class="container-fluid">
                <h1>Gestionaire d'article</h1>
            </div>
        </nav>
    </div>
    <div>
        <%- include("table") -%>
        <button type="button" class="btn btn-danger " onclick="location.href='/ajouter'" value="">Ajouter</button>
    </div>
</div>
