<!DOCTYPE html>
<html lang="fr">
<%- include("header") -%>
<body>
    <div class="header">
        <h1>Mon Gestionaire d'articles</h1>
    </div>
    <div class="monArticle">
        <%- include("article") -%>
    </div>
    <div class="monTableau">
        <%- include("table") -%>
    </div>
</body>
</html>