body{
    font-family: 'Montserrat', sans-serif;
    background-color:#fff;
    color: #242424;
    margin: 60px;

}
h1{
    text-align:center;
    position: relative;
    left: 20px;
}
button {
    margin:10px;
}
form{
    width:20rem;
}

.header{
    color:#ee591f;
    font-size:50px;
    font-weight:bold;
}
.table{
    text-align:center;
}
.colorhead{
   color: #ee591f
}

.action1{
    display:inline-block;
}
.action2{
    display:inline-block;
}
.centre{
display: inline-block;
  
}